<section class="escolha configurar_diaria disable">
    <br>
    <h2>Configurar Diárias</h2>
    <form action="/cadastrarDiaria" method="post">
        </select>
            <div class="escolha__form___flex">
                <label for="valor">Valor R$:</label>
                <input type="tel" name="valor" id="valor">
                <label for="dias">Quantidade de dias:</label>
                <input type="tel" name="dias" id="dias">
            </div>
            <br>
            <input type="submit" value="Cadastrar">
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>Valor R$</th>
                <th>Quantidade de dias</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100</td>
                <td>1</td>
                <td><a href="#"><i class="fa-solid fa-trash fa-lg"></i></a></td>
            </tr>
        </tbody>
    </table>
    <br>
</section>