<section class="escolha gerenciar_hospedagem disable">
    <br>
    <h2>Gerenciar Hospedagem</h2>
    <table>
        <thead>
            <tr>
                <th>Hospede</th>
                <th>Acomodação</th>
                <th>Entrada</th>
                <th>Previsão de saída</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gabriel Eugenio</td>
                <td>Apartamento: 1006</td>
                <td>23/04/2023, 11:11:56 AM</td>
                <td>24/04/2023</td>
                <td>ATIVA</td>
                <td><i class="fa-solid fa-pen-to-square fa-lg"></i> <i class="fa-solid fa-print fa-lg"></i></td>
            </tr>
        </tbody>
    </table>
    <br>
</section>