<section class="escolha gerenciar_hospede disable">
    <br>
    <h2>Gerenciar Hospede</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/Passaport</th>
                <th>Nacionalidade</th>
                <th>Contato</th>
                <th>Cliente desde</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gabriel Eugenio</td>
                <td>000.000.000-00</td>
                <td>Brasil</td>
                <td>81986710000</td>
                <td>22/04/2023</td>
                <td><i class="fa-solid fa-pen-to-square fa-lg"></i> <i class="fa-solid fa-print fa-lg"></i></td>
            </tr>
        </tbody>
    </table>
    <br>
</section>