# Servidor
PORT = Porta do servidor

# Banco de dados
DB_DIALECT = Banco de dados sendo utilizado, example: mysql
DATABASE = Nome do banco de dados, example: gerenciadorhotel
DB_HOST = IP do banco de dados,example: localhost
DB_NOME = Nome do usuario do banco de dados, example: root
DB_SENHA = Senha do usuario do banco de dados, example: root
DB_TIMEZONE = Timezone escolhido, example: -03:00
DB_PORT = Porta do banco de dados, example: 3306

# Sessões
SECRET_SESSION = Chave secreta para a sessão, example: mysecret
SECRET_JWT = Chave secreta para o JWT, exampl: mysecret