<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/loginCadastro.css">
    <script src="./js/main.js"></script>
</head>
<body>
    <main class="main">
        <% if( mensagem.length > 0 ) {%> 
            <div class="alert sucess"><h3 onclick="alerta()">Conta criada com sucesso!</h3></div>
        <%} else if( erros.length > 0 ) {%> 
            <div class="alert danger"><h3 onclick="alerta()"><% for(erro of erros) {%> <%= erro.error %> <% } %></h3></div>
        <%} %>
        
        <h2>HotelHUB</h2>
        <section class="form">
            <% if(qtdAdmin == 0) { %> 
                <h3>Crie sua conta</h3>
                <form class="form__logincadastro" action="/cadastroAdmin" method="post">
                    <label for="">Email:</label><br>
                    <input type="email" name="email" id="email" placeholder="email@email.com" required><br>
                    <label for="senh">Senha:</label><br>
                    <input type="password" name="senha" id="senha" minlength="6" placeholder="******" required>
                    <small>Mínimo 6 caracteres</small><br><br>
                    <input type="submit" value="Criar conta"> 
                </form>
                
            <%} else{%>    
            <h3>Login</h3>                        
            <form class="form__logincadastro" action="/loginAdmin" method="post">
                <label for="">Email:</label><br>
                <input type="email" name="email" id="email" placeholder="email@email.com" required><br>
                <label for="senh">Senha:<br>
                <input type="password" name="senha" id="senha" minlength="6" placeholder="******" required><br><br>
                <input type="submit" value="Entrar"> 

            </form>                
            <%} %>
            

        </section>
    </main>
</body>
</html>